#perfil .inputClassName {
	width: 60%;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	border-radius: 15px;
	border-width: 2px;
	border-color: #f56565;
	margin-bottom: 0.5rem;
	box-shadow: 0 0 5px #8e0000;
}

#perfil .inputClassName:focus {
	outline: none !important;
	border: 2px solid #ffcc33;
	box-shadow: 0 0 10px #e69200;
}

#perfil .first-column {
	/* background-color: darkmagenta; */
	align-items: right;
	margin-left: 25%;
	margin-right: 0;
}

#perfil .grid {
	grid-template-columns: 57.5% 40%;
	color: black;
	/* background-color: darkmagenta; */
	grid-gap: 40px;
	justify-content: center;
	margin-bottom: 5px;
	padding-bottom: 40px;
}

  
#perfil .logrosyperfil {
	align-items: center;
	justify-content: center;
	display: flex;
	height: 150px;
	gap: 10px;

  }
#perfil .imagesLeft{

	object-fit: cover;
	width: 50px;
	height: 50px;
	margin-right: 6px;
	border-radius: 50%;
}
#perfil .imagesRight{
	object-fit: cover;
	width: 50px;
	height: 50px;
	margin-left: 6px;
	border-radius: 50%;
	
}

#perfil .overlayed-image-1{
	border-width: 4px;
	border-color: gold;
	object-fit: cover;
	width: 140px;
	height: 140px;
	margin-bottom: 2px;

	border-radius: 50%;
	
}

#perfil .overlayed-image-2{

	border-width: 1px;
	border-color: rgb(181, 19, 19);
	object-fit: cover;
	width: 40px;
	height: 40px;
	margin-bottom: 2px;
	background-color: rgb(181, 19, 19);
	border-radius: 50%;
  
	transform: translate(230%, -100%);
}