.inputClassName {
  width: fit-content;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  color: #4a5568;
  border-radius: 9999px;
  border-width: 4px;
  border-color: #d2d6dc;
  outline: none;
  border-color: #f56565;
  color: #cbd5e0;
  margin-bottom: 0.5rem;
}